<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/forgotPassword.css" />
  </head>
  <body>
    <form id="forgotForm" action="">
      <h1>Forgot password</h1>
      <label for="">Email</label>
      <input
        type="email"
        name=""
        id="email"
        required
        oninvalid="this.setCustomValidity('Enter email Here')"
        oninput="this.setCustomValidity('')"
      />
      <button type="submit" id="submit">submit</button>
    </form>
    <div id="message"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="/js/forgotPassword.js"></script>
  </body>
</html>
