<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/signUpPage.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bitter&display=swap"
      rel="stylesheet"
    />
  </head>
  <body id="poioil">
    <div>
      <form id="signUpForm">
        <h1>Sign Up</h1>
        <label>Name</label>
        <input type="text" name="" id="name" />
        <label>Email</label>
        <input type="email" name="" id="email" required />
        <label>Password</label>
        <input type="password" name="" id="password" />
        <input id="submit" type="submit" value="Sign up" />
      </form>
    </div>
    <div id="message"></div>
    <!-- <script src="../public/js/signUp.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="/js/signUp.js"></script>
  </body>
</html>
